<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnDeprecation="false"
         failOnNotice="false"
         failOnWarning="false"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <env name="APP_ENV" value="test" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="DATABASE_URL" value="postgresql://postgres:postgres@localhost:5432/mangatheque_db?serverVersion=16&charset=utf8" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <env name="MAILER_DSN" value="null://null" />
        <env name="MESSENGER_TRANSPORT_DSN" value="doctrine://default?auto_setup=0" />
        <env name="APP_SECRET" value="d9cd28f768dc8c4271d0ed2f52f51244" />
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Entity</directory>
            <directory>tests/Form</directory>
            <directory>tests/Repository</directory>
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="API Tests">
            <directory>tests/Controller/Api</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/DataFixtures</directory>
            <directory>src/Migrations</directory>
        </exclude>
    </source>
    
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/DataFixtures</directory>
            <directory suffix=".php">src/Migrations</directory>
            <file>src/Kernel.php</file>
        </exclude>
        <report>
            <html outputDirectory="var/coverage"/>
            <clover outputFile="var/coverage.xml"/>
        </report>
    </coverage>
</phpunit> 